<!DOCTYPE html>
<html>
  <head>
		<title>訂單確認(賣</title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="https://store.ims.ice.cyut.edu.tw/javascript/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://store.ims.ice.cyut.edu.tw/css/bootstrap.min.css">
    <link rel="icon" href="http://tw.faviconico.org/ico-converted/20201123/favicon-20201123030143885.ico" type="image/x-icon" / >
	</head>
	<style>
		h1{
			font-size: 50px;
			font-weight: bold;
		}
		#user {
			float: right ;
			margin: auto;
			width:auto;
			height: 0px;
			font-size: 30px;
		} 
		#shop {
			float: left ;
			margin: auto;
			width:auto;
			height:0px;    
		}
		#shop a button{
			float: left ;
			margin: auto;
			width:auto;
			height: 0px;
			font-size: 30px;
		}
		#end{
			font-size: 30px;
	
    }
    #sb{
      font-size: 25px;
    }
    body {
            background-image:url('https://lh3.googleusercontent.com/-T-RKQeLK-T4/X7wUBTE8afI/AAAAAAAADf0/LFyOjhGX7JE-9x2-CML-b54CsK8OvfGogCLcBGAsYHQ/%25E5%259C%2596%25E7%2589%25871.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: 30%;               
      }
  </style>
  <div id="shop" align=center>
    <a><button type="button"class="btn btn-link" onclick="location.href='/com/shop'">商品列表</button></a>
  </div>
  <h1 class=room align=center>賣家訂單確認</h1>
    <div align=center id=sb>
      賣家:<span  type="text" name='sellername' value='<%= sellername %>' readonly="readonly" disabled><%= sellername %>      
    </div>
    <div align=center>
    <form id='myform' method='POST' >
    <table class="table col-8">      
    <br>
    <thead style="font-size: 20px; text-align: center;">
        <tr>
          <th></th>
          <th scope="col">商品名稱</th>
          <th SCOPE="col">單價</th>
          <th scope="col">數量</th>
          <th scope="col">價錢</th>
          <th scope="col">確認訂單</th>
        </tr>
    </thead>
    <tbody style="font-size: 24px; text-align: center;">
    <script>
      var x=0;
      var co = [];
    </script>
    <% for(var i = 0; i < result.length; i++) { %>
      <tr>
        <th>買家: <span type="text" name='buyername<%=i%>' value='<%= result[i].buyername %>' readonly="readonly" disabled><%= result[i].buyername %></th>
        <th>商品：<span type="text" id="productname<%=i%>" value='<%= result[i].productname %>' readonly="readonly" ><%= result[i].productname %></th>
        <th>單價：<span type="text" id="money_id<%=i%>"  name="money_id" value='<%= result[i].moneyId %>' readonly="readonly" disabled><%= result[i].moneyId %></th>
        <th>數量：<span type="text" id="count<%=i%>" value="<%= result[i].count %>" readonly="readonly" disabled><%= result[i].count %></th>
        <th>價錢：<span type="text" id="aaa<%=i%>" value="<%= result[i].testsum %>" readonly="readonly" disabled><%= result[i].testsum %></span></th>
        &emsp;<th><button type="submit" class="btn btn-primary" name="sell" value=<%= result[i]._id%>>確認</button></th>
      </tr>
    

      <script>

        var test1 = <%- result[i].moneyId %>;
				var test2 = <%- result[i].count %>;
				var sumSP = $("#aaa<%=i%>");

        var sum = (test1)*(test2);
        sumSP.text(sum);

        //console.log(<%= result[i].testsum %>);	
        co.push(<%= result[i].testsum %>);        
        x++;      
      </script>
    
    <% } %>
    </tbody>
  </table>
</form>
</div>
  <br>
  <div align=center id=end>
   <!-- 總金額：<span id="ccc"></span>元 -->

   <span><%= NowTime %></span>

    <script>
      var sss=0;
      var jjj=$("#ccc");
      for(var o=0;o<=x-1;o++){
        sss += co[o];
      }
      //console.log(sss)
      jjj.text(sss);
    
    </script>
  </div>

</br>
  




<% include footer %>