<!DOCTYPE html>
<html class="container-fluid">

  <head>
    <link rel="shortcut icon" href="/favicon.ico" >
    <title>直播o_ob(賣</title>
    <script src="https://store.ims.ice.cyut.edu.tw/javascript/jquery-3.4.1.js"></script>
    <script src="https://store.ims.ice.cyut.edu.tw/javascript/popper.min.js"></script>
    <script src="https://store.ims.ice.cyut.edu.tw/javascript/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://store.ims.ice.cyut.edu.tw/css/bootstrap.min.css">
  
    <script src="https://store.ims.ice.cyut.edu.tw/javascript/dash.all.min.js"></script>
    <script src="https://store.ims.ice.cyut.edu.tw/javascript/video.js"></script>
    <script src="https://store.ims.ice.cyut.edu.tw/javascript/videojs-dash.min.js"></script>
    <script src="https://store.ims.ice.cyut.edu.tw/javascript/bootstrap-filestyle.min.js"></script>
    <link rel="stylesheet" href="https://store.ims.ice.cyut.edu.tw/css/video-js-cdn.min.css">
    <link rel="icon" href="http://tw.faviconico.org/ico-converted/20201123/favicon-20201123030143885.ico" type="image/x-icon" / >
    <style>
      input{
        text-align: center ;
      }
      .head{
        font-weight: bold;
        font-size: 40px;
      }
      h3{
        height: 150px;
      }
      body {
            background-image:url('https://lh3.googleusercontent.com/-T-RKQeLK-T4/X7wUBTE8afI/AAAAAAAADf0/LFyOjhGX7JE-9x2-CML-b54CsK8OvfGogCLcBGAsYHQ/%25E5%259C%2596%25E7%2589%25871.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: 43%;           
      }
    </style>
  </head> 

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light row" style="max-height: 60px!important;">
    <a class="navbar-brand head" href="/"> 直播平台 </a>

    <div class="col"></div>
    <div  class="my-2 my-lg-0 ">
      <p style="font-size: 25px;">用戶名: <%= user %> 
      <a class="btn btn-primary" href="/users/logout">登出</a></p>
    </div>
</nav>
</br>
<h3></h3>
<div class="card border-dark mx-auto" style="max-width: 22rem;">
  <div class="card-header bg-transparent border-dark">
    <h2 align=center style="font-size:40px;">創建房間</h2>
  </div>
  <!-- 取得現有房間並建立連結-->
  <div class="card-body text-dark form-group">
    <div class="card-title"> 
      <p align=center style="font-size:20px;"><label for="roomname">請輸入房間名稱</label></p>
      <input class="form-control" style="font-size:20px;" type="text" name="roomname" id="roomname" placeholder="標題" >
      <!-- <input type="text" name="class" id="class" placeholder="類別"><br> -->
    </br>
      <p align=center style="font-size:30px;">金鑰: <%= roomkey %></p> 
    </div>
    <br>
    <div align=center>
      <button type="button" class="btn btn-primary btn-lg" onclick="window.open('/com/shop')" target="_blank">上架商品/訂單</button>
    </div>
  </div>
    <div align=center class="card-footer bg-transparent border-dark">
      <button id="create" type="button" class="btn btn-primary" style="width:100px;height:50px;">建立房間</button>
      &emsp;<button id="delete" type="button" class="btn btn-primary" onclick="location.href='/'" style="width:100px;height:50px;">關閉房間</button>
    </div>
</div>
<div >
  <button type="button" style="position: absolute;right: 0;top:93%;" class="btn btn-primary btn-lg"onclick="location.href='https://youtu.be/-OSUwoTT5js'">教學</button>
</div>
</body>
<script>
  //使用web api傳遞建立房間資訊
  $("#create").click(function() {
    $.ajax({
      url: '../room',
      type: 'POST',
      dataType: 'json',
      //請根據需求新增資料，如：房品名稱
      data: {
        seller:'<%= user %>',
        choice:'1',
        roomname: $('#roomname').val(), //房名   
        rtmp01: "https://vm214.ims.ice.cyut.edu.tw/dash/",
        rtmp02:'<%= roomkey %>',
        rtmp03: ".mpd",
      },
      success: function(data) {
        //根據後端傳送回來的房間id進行轉跳
        //alert("niceeee")
        window.location.assign("../room?id=" + data.msg);
        
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        alert(JSON.parse(XMLHttpRequest.responseText).msg);
      }
    })
  });

  $("#delete").click(function() {
    $.ajax({
      url: '../room',
      type: 'POST',
      dataType: 'json',
      data: {
        seller:'<%= user %>',
        choice:'0',
      },
      success: function(data) {
        //根據後端傳送回來的房間id進行轉跳
        //window.location.assign("../room?id=" + data.msg);
        ///alert("delete sucess")
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        alert(JSON.parse(XMLHttpRequest.responseText).msg);
      }
    })
  });
</script>
</html>
